body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#view {
  height: 100%;
  width: 90vw;
  margin: auto;
}

.container {
  display: flexbox;
}

.card {
  flex-direction: row;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  box-align: center;
  padding-bottom: 3rem;
}

.button-bar {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}